
__pycache__
*.pyc
*.pyo
tmp/
temp/
*egg-info*

## byproducts
checkpoints/
data/*
!data/**/*.py
!data/**/
dataset/
logs/
wandb/
results/
results-*/
results-classifier/
samples/
exp/
preset/
features/

## Ignore all archives
*.tar.gz
*.tar

## Ignore all log files
*.out
*.err
*.log

*.json
*.jsonl
*.csv

*.safetensors
*.ckpt
*.pth
*.pt
